@model IEnumerable<CryptoApp.Data.Entities.Transaction>

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var markets = (List<CryptoApp.Data.Entities.Companies>)ViewBag.Markets;
    var pairs = (List<CryptoApp.Data.Entities.Pair>)ViewBag.Pairs;

}

<h1>Get</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Market)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @markets.FirstOrDefault(x=>x.Id == item.Market).Name
                </td>
                <td>
                    @pairs.FirstOrDefault(x => x.Id == item.Coin).Normalized
                </td>
                <td>
                    @item.Unit.ToString("#,##0.00000000")
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.BuyingPrice)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.IsSold)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.SellPrice)
                </th>
                <td>

                    <form action="transaction/delete/@item.Id" method="post" asp-antiforgery="true">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
